html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
	background-color: #bce8f1;
	padding:0;
	margin:0;
}

.panel {
	width: 360px;
	min-height:240px;
	z-index: 1;
}

.panel-body {
	height: 100%;
	min-height:198px;
	display:block;
}

.panel-heading {
	cursor: move;
}

.panel-footer {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none; 
}

.btn {
	font-size: 18px;
}

.arrow-up {
	display: block;
	text-align: center;
	font-size: 48px;
}

.navbar {
	display: inline-block;
}

#hover {
	width: 100%;
	height: 90px;
	z-index:2;
	/*border-bottom: 2px red dashed;*/
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -36px;
  /* Pad bottom by footer height */
  padding: 0 0 36px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 36px;
  color: rgba(0,0,0,0.33333);
}